@font-face {
  font-family: airStrike;
  src: url(airStrike.ttf);
}


html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
  
  button {
    
     font-family: airStrike;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.instDiv{
  font-family: Arial;
  color: white;
  border: 2px solid white;
  padding: 10px 10px;
  background-color: black;
  border-radius: 15px;

}